<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ "https://soundaccumulator.com" + page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="/images/og-image.png"/>
    <meta property="og:site_name" content="Sound Accumulator"/>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <link rel="icon" href="/images/icon.png" sizes="128x128">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="site-name" href="/">Sound Accumulator</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/releases">Releases</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/search"><span class="material-icons">search</span></a></li>
      </ul>
    </nav>
    <article data-pagefind-body>
      {{ content | safe }}
    </article>
    <footer>
      <ul>
        <li ><a class="site-name" href="/">Sound Accumulator</a></li>
        <li><a href="https://github.com/t-schreibs/sound-accumulator/discussions">Discuss</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/feed.xml">RSS</a></li>
      </ul>
    </footer>
  </body>
</html>