/* Reset default browser styles */
body, h1, h2, h3, p, ul, ol, nav, table, th, td {
    margin: 0;
    padding: 0;
    border: 0;
  }

  html {
    background-color: #171717;
  }
  
  body {
    font-family: Nunito, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  article {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    font-family: Roboto, sans-serif;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  ul {
    columns: 2;
    margin: 15px;
    list-style-type: square;
  }
  li {
    page-break-inside: avoid;
    break-inside: avoid-column;
  }
  
  a {
    color: #942a96;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  nav {
    background-color: #171717;
    padding: 10px 0;
    font-size: large;
  }
  
  nav ul {
    columns: 1;
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  nav ul li a span {
    vertical-align: middle;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ad9cad;
  }

  td ul {
    columns: 1;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #fbf0fb;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  footer ul {
    columns: 1;
    list-style: none;
    text-align: center;
  }

  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #fff;
  }

  .site-name {
    font-family: 'Roboto Slab', Roboto, sans-serif;
    color: #942a96;
    font-weight: bold;
  }