---
pagination:
  addAllPagesToCollections: true
  data: artists
  size: 1
  alias: artist
permalink: "artists/{{ artist.name | slugify }}/"
tags: artist
eleventyComputed:
  title: "{{ artist.name }}"
  genres: "{{ artist.genres }}"
  links: "{{ artist.links }}"
  eleventyNavigation:
    key: "{{ artist.name }}"
    parent: "Artists"
---

{% assign genreList = genres | split: "," %}
{% assign linkList = links | split: "," %}
{% assign releaseList = collections.release | hasArtist: artist.name %}

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

<h1>{{ artist.name }}</h1>
<section>
<p>{% markdown artist.intro %}</p>
</section>
<section>
<table>
  <tr>
    <td>Origin</td>
    <td>{{ artist.origin }}</td>
  </tr>
  <tr>
  <tr>
    <td>Genres</td>
    <td>
      {% linkList genreList collections.genre %}
    </td>
  </tr>
  <tr>
    <td>Years active</td>
    <td>{{ artist.yearsActive }}</td>
  </tr>
  <tr>
    <td>Links</td>
    <td>
      <ul>
      {% for link in linkList %}
        <li><a href="{{ link }}">{{ link }}</a></li>
      {% endfor %}
      </ul>
    </td>
  </tr>
</table>
</section>
<section>
<p>{% markdown artist.about %}</p>
</section>
<section>
<h2>Releases</h2>
<ul>
  {% for release in releaseList %}
    <li><a href="{{release.url}}">{{ release.data.title }}</a></li>
  {% endfor %}
</ul>
</section>