---
pagination:
  addAllPagesToCollections: true
  data: genres
  size: 1
  alias: genre
permalink: "genres/{{ genre.name | slugify }}/"
tags: genre
eleventyComputed:
    title: "{{ genre.name }}"
---

<h1>{{ title }}</h1>

<p>{% markdown genre.intro %}</p>

<table>
  <tr>
    <td>AKA</td>
    <td>
      <ul>
      {% for alias in genre.aka.split(',') %}
        <li>{{ alias }}</li>
      {% endfor %}
      </ul>
    </td>
  <tr>
    <td>Origins</td>
    <td>{{ genre.origins }}</td>
  </tr>
  <tr>
    <td>Subgenres</td>
    <td>
      {% linkList genre.subgenres.split(','), collections.genre %}
    </td>
  </tr>
</table>

<p>{% markdown genre.about %}</p>