---
title: Sound Accumulator
---

{% assign blogList = collections.blog | reverse | limit: 10 %}
{% assign artistList = collections.artist | reverse |limit: 20 %}
{% assign genreList = collections.genre | reverse | limit: 20 %}
{% assign releaseList = collections.release | reverse | limit: 20 %}

<section>
    <h2>Discover your new favorite artist!</h2>
    <p>Sound Accumulator is a community-generated music wiki that prioritizes small & local artists and focuses on discoverability.</p>
</section>
<hr>
<section data-pagefind-ignore>
    <h2>Blog</h2>
    <ul>
        {% for blog in blogList %}
            <li>
                <a href="{{ blog.url }}">{{ blog.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
<hr>
<section data-pagefind-ignore>
    <h2>Recents</h2>
    <h3>Artists</h3>
    <ul>
        {% for artist in artistList %}
            <li>
                <a href="{{ artist.url }}">{{ artist.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Genres</h3>
    <ul>
        {% for genre in genreList %}
            <li>
                <a href="{{ genre.url }}">{{ genre.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <h3>Releases</h3>
    <ul>
        {% for release in releaseList %}
            <li>
                <a href="{{ release.url }}">{{ release.data.title }} ({{ release.data.artists }})</a>
            </li>
        {% endfor %}
    </ul>
</section>