---
pagination:
  addAllPagesToCollections: true
  data: tracks
  size: 1
  alias: track
permalink: "tracks/{{ track.name | slugify }}/"
tags: track
eleventyComputed:
    title: "{{ track.name }}"
    eleventyNavigation:
      key: "{{ track.name }}"
      parent: "Tracks"
    releases: "{{ track.releases }}"
---

{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

<h1>{{ title }}</h1>
<section>
  <p>{% markdown track.intro %}</p>
</section>
<section>
  <table>
    <tr>
      <td>Release</td>
      <td>
        {% linkList track
          .releases
          .split(','),
        collections.artist %}
      </td>
    <tr>
      <td>Genres</td>
      <td>
        {% linkList track
          .genres
          .split(','),
        collections.genre %}
      </td>
    </tr
      <td>Published</td>
      <td>{{ track.published }}</td>
    </tr>
    <tr>
      <td>Links</td>
      <td>
        <ul>
          {% for link in track
            .links
            .split(',') %}
            <li>
              <a href="{{ link }}">{{ link }}</a>
            </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</section>
<section>
  <p>{% markdown track.about %}</p>
</section>